<div class="sloupek petit">
  <p>
    Tohle je půda.
    Na půdě se válí staré harampádí: notové materiály,
    které jejich tvůrce již neudržuje a nedoporučuje je používat.
    Obsah některých je dnes zahrnut do obsáhlejších materiálů,
    jiné již nezapadají do postupně vykrystalizovavší koncepce
    projektu a většinou jsou i hudebně na velmi bídné úrovni.
  </p>
  <p>
    Půda se tu nabízí jednak jako nostalgický pohled do minulosti,
    jednak jako přiznání se tvůrce k souborům, které už v hlubinách
    internetu žijí vlastním životem,
    jednak jako komentář k prošlapaným slepým cestám.
  </p>
</div>