{layout '../_layout.latte'}

{block page_title}Knihy{/block}

{block sidepane}
<div class="sloupek"></div>{* na automaticky sebranou navigaci *}

<div class="sloupek petit">
  <p>
    Tato stránka podává kompletní přehled publikací
    obsahujících zhudebněné části liturgie hodin v českém jazyce.
  </p>
  <p>
    Pro cizojazyčné publikace viz
    <a href="/bibliography/">International Bibliography of LOTH Music</a>.
  </p>
</div>
{/block}

{block content}
{$content|noescape}

<script type="text/javascript" src="/js/sberacnadpisu.js"></script>
<script type="text/javascript" src="libjs/URI.min.js"></script>
<script type="text/javascript" src="js/knihyutils.js"></script>
{/block}