{layout '../_layout.latte'}

{block page_title}Místa{/block}

{block sidepane}
<div class="sloupek" id="krajenavig"><h4>Diecéze</h4></div>{* na automaticky sebranou navigaci *}

<div class="sloupek petit">
  <p>
    V naší zemi je řada míst, kde se nějaké společenství, nejčastěji
    řeholní komunita, pravidelně schází k veřejnému slavení
    liturgie hodin. Tato stránka slouží, v souladu se zaměřením celého
    webu, k upozornění na ta místa, kde se
    liturgie hodin celá nebo alespoň zčásti zpívá.
  </p>
  <p>
    Pokud víte o dalším, nebo objevíte chybnou nebo zastaralou
    a již neplatnou informaci, budu vděčný za <a href="{url_for('about')}#kontakt">e-mail</a>.
  </p>
</div>
{/block}

{block content}
<div class="mapwrap">
  <div id="mapa"></div>
</div>

<!-- mapy.cz API v4 -->
<script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
<script type="text/javascript">Loader.load();</script>

<script type="text/javascript" src="/js/mistamapa.js"></script>
<script type="text/javascript" src="/js/sberacnadpisu.js"></script>

{$content|noescape}

{/block}
