{default $page_rss = array()}
{default $page_scripts = array()}
{default $page_xml_source = ''}
{default $page_title = ''}
{default $page_language = 'cs'}
<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$page_language}" lang="{$page_language}">

<head>
  <meta http-equiv="Content-Type" content="{$content_type}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{block title}{block page_title_head}{block page_title}{$page_title}{/block}{/block} ({$site_title}){/block}</title>

  <link rel="stylesheet" type="text/css" href="/grafika/style.less.css" />

  {foreach $page_rss as $i_title => $i_url}
  <link rel="alternate" type="application/rss+xml" {if !is_int($i_title)}title="{$i_title}" {/if}href="{$i_url}" />
  {/foreach}

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  {foreach $page_scripts as $script}
  <script type="text/javascript" src="{$script}"></script>
  {/foreach}

  {block head_addons}{/block}
</head>

<body>

  <div id="wrapper">

    <div id="header">
      <div id="langs">
        <a href="{url_for('english')}" title="English summary" hreflang="en">EN</a>
      </div>

      {block page_head}
      <span class="sitetitle"><a href="{url_for('root')}" rel="home" title="{$site_title_full}">{$site_title}</a></span>
      <h1 class="pagetitle">{block page_title_body}{include page_title}{/block}</h1>
      {/block}
    </div>

    <div id="navigation">
      <ul>
        {foreach $navigation as $pg}
          <li><a href="{url_for($pg[0])}">{$pg[1]}</a></li>
        {/foreach}
      </ul>
    </div>

    <div id="main">
      <div id="content" n:class="$toplevel_class != '' ? $toplevel_class">
        {block content}{/block}
      </div> <!-- #content -->

      <div id="sidepane">
        {block sidepane}{/block}
      </div>

      <div id="footer">
        {if $page_xml_source != ''}
          <p>
            <a href="/{$page_xml_source}" rel="alternate" type="application/xml">Data této stránky ve formátu XML</a>
            poslední aktualizace {date("d.m.Y H:i", filemtime($page_xml_source))}
          </p>
        {/if}
        <p>
          spřízněné weby:
          <a href="http://zalmy.inadiutorium.cz" rel="external">Žalmy</a>
          <a href="http://praga.inadiutorium.cz" rel="external">Officia propria</a>
          <a href="http://antiphonale83.inadiutorium.cz" rel="external">Antiphonale 1983</a>
          <a href="http://calapi.inadiutorium.cz" rel="external">Liturgical Calendar API</a>
          <a href="http://ean.inadiutorium.cz" rel="external">E-antifonář</a>
        </p>
        <p>
          najdete nás na:
          <a href="http://portal.sdh.cz" title="Portál duchovní hudby" rel="external">PDH</a>
          <a href="http://ads.cvut.cz/ov/" rel="external">Otevřená víra</a>
          <a href="http://ambit.simeon.cz" rel="external">Ambit</a>
          <a href="http://github.com/igneus/In-adiutorium" rel="external">GitHub</a>
          <a href="https://twitter.com/inadiutorium">Twitter</a>
          <a href="https://soundcloud.com/in-adiutorium">Soundcloud</a>
        </p>
        <p>
          web usiluje o formálně správné
          <a href="http://validator.w3.org/check?uri=referer" title="XHTML 1.0 Transitional">XHTML</a>
          <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
          {foreach $page_rss as $feed}
            <a href="http://validator.w3.org/feed/check.cgi?url={urlencode($site_url . $feed)}">RSS</a>
          {/foreach}
        </p>

        <p>
          <a href="{url_for('root')}" rel="home">{$site_title_full}</a><br/>
          <a href="{url_for('about')}#kontakt" rel="author">kontakt</a>
        </p>

      </div> <!-- #footer -->
    </div> <!-- #content -->
  </div> <!-- #main -->
</body>
</html>
