{layout '../_layout.latte'}

{block page_title}Odkazy{/block}

{block sidepane}
<div class="sloupek"></div>{* na automaticky sebranou navigaci *}

<div class="sloupek petit">
  <p>
    Odkazy hlavně na webové stránky nabízející možnost stažení
    hudebnin použitelných při slavení liturgie hodin.
  </p>
</div>
{/block}

{block content}
{$content|noescape}

<script type="text/javascript" src="/js/sberacnadpisu.js"></script>
{/block}
