{layout '../_layout.latte'}

{block page_title}Chyba 404{/block}

{block content}
<div>
<p>
<b>Chyba 404: Požadovaná stránka neexistuje.</b>
</p>
<p>
  Pokud jste se sem dostali odkazem odjinud,
  možná byla kdysi existující stránka zrušena nebo přejmenována -
  zkuste se na ni proklikat pomocí lišty s odkazy (web má jednoduchou strukturu).
</p>
<p>
  Pokud jste se sem dostali odkazem přímo ze stránek In adiutorium,
  budu vděčný za nahlášení nefunkčního odkazu na adresu
  <a href="mailto:{$owner_email}">{$owner_email}</a>
</p>
</div>
{/block}