{layout '../_layout.latte'}

{block title}Antifonář k Denní modlitbě církve{/block}
{block page_title}Antifonář <span>k Denní modlitbě církve</span>{/block}

{block sidepane}
<div class="sloupek">
  <p class="citat">
    "Protože se může denní modlitba církve konat národním
    jazykem, musí se pečlivě dbát, aby se připravily melodie,
    jichž by se užívalo při zpěvu posvátného oficia národním jazykem."<br/>
    (<a href="http://www.liturgie.cz/admin/files/File/liturgicke-knihy/1971-IGLH-CZ.pdf#page=38">VPDMC 275</a>)
  </p>
</div>
{/block}

{block content}
<p>
  Antifonář je zpěvník obsahující zpěvy liturgie hodin - zejména,
  ale nejen, nápěvy antifon. Kompletní antifonář
  v českém jazyce zatím neexistuje, <s>ale
  v dohledné době by se to mělo změnit.</s>
</p>
<p class="tac">
  <s>Plánovaná doba dokončení prvního vydání je
  někdy během roku 2018</s>.
</p>
<p class="tac">
  (<s>Nový termín zatím není stanoven; snad lze myslet na podzim 2020,
  kdy bude projekt In adiutorium slavit deset let.</s>)
</p>
<p>
  Plody dosavadních přípravných prací, ale také informace
  o jiných hudebninách pro liturgii hodin, a ještě mnohem víc,
  najdete na webu In adiutorium:
</p>
<p style="font-size: 120%; text-align: center;">
  <a href="{url_for('root')}">Pokračovat na web In adiutorium</a>
</p>
{/block}