{layout '../_layout.latte'}

{block page_title}Komentář k notám{/block}

{block sidepane}
<div class="sloupek"></div>{* na automaticky sebranou navigaci *}
{/block}

{block content}
<h2 id="pouzitelnost">Varování</h2>

<p>
  Zde nabízené zhudebnění liturgie hodin v současné době
  <b>není považováno za zralé pro liturgické nasazení.</b>
  Jednotlivé materiály či zpěvy snad - po zralém posouzení
  a odzkoušení - při liturgii posloužit mohou, ale opatrnost je namístě.
  Pro hrubou orientaci je na stránce s notami ke stažení
  u každého materiálu řecké písmeno, indikující jeho stav:
</p>
<div class="download">
  {include 'statuses.latte'}
</div>
<p>
  Noty vznikají postupně od r. 2010.
  Autor se do práce na nich pustil vybaven jen minimem hudebního vzdělání a
  začal je připravovat především pro svou vlastní potřebu. K jakési estetice
  českého chorálu (ve smyslu schopnosti rozlišit nápěv krásný/vhodný/bezvadný
  od méně uspokojivého) dospěl až "za pochodu", převážně cestou pokusů a omylů.
  Jednotlivé kousky jsou tedy kvalitativně značně nevyrovnané, v závislosti na době vzniku
  a šťastné ruce "skladatelově". Méně kvalitní zpěvy jsou průběžně revidovány,
  ale vzhledem k rozsahu celého korpusu je to práce ještě na roky.
</p>

<h2 id="licence">Autorská práva a licence</h2>

<p>
  V každém materiálu je výslovně uvedeno, v jakém právním režimu je:
  v notových listech je údaj o licenci na poslední stránce dole,
  v knížkách a brožurkách v tiráži na poslední straně.
  Noty, jejichž jsem jediným autorem, podléhají obvykle licenci
  <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.cs">Attribution-ShareAlike 3.0 Unported  (CC BY-SA 3.0)</a>.
  Touto licencí každý získává oprávnění materiály šířit (jakoukoli cestou a klidně i komerčně),
  ale také upravovat a využívat v nových dílech.
  Povinností toho, kdo chce těchto práv užívat, je
  v odvozeném díle uvést autora díla reprodukovaného či upravovaného,
  popsat nebo jinak vyznačit rozsah případných úprav a
  odvozené dílo vydat pod stejnou licencí.
</p>

<h2 id="interpretace">Interpretace</h2>

<h3 id="choral">Chorál</h3>

<p>
  Zpěvy vzniklé v rámci projektu In adiutorium stylově vycházejí z gregoriánského chorálu.
  Některé (většina krátkých responsorií, několik málo antifon) přímo využívají tradiční
  melodie. Většina jsou původní skladby napodobující hudební jazyk
  gregoriánského chorálu, s přizpůsobeními specifikům českého jazyka.
</p>

<h3 id="notace">Užívaný systém notace</h3>

<p>
  Pro zápis zpěvů je použit systém chorální
  notace na pětilinkové osnově s houslovým klíčem - podobný, jaký se používá
  např. v německém katolickém kancionálu Gotteslob, ale také v řadě
  současných musikologických publikací.
</p>
<p>
  Chorální zpěvy je možné notovat různě podrobně. Zde byl zvolen
  strohý minimální zápis, který zaznamenává pouze melodii a členění.
  Někde je vyznačeno nanejvýš ještě povinné prodloužení jedné nebo více not.
  To je, ve srovnání třeba se solesmeskou redakcí chorálu
  v 1. pol. 20. stol., zápis informačně chudý. Domníváme se však, že
  pro správnou interpretaci jednoduchých chorálních zpěvů, jakými jsou
  antifony a krátká responsoria, podrobnější zápis není potřeba.
  Otevřenost notového zápisu různým způsobům interpretace
  nepovažujeme za nedostatek. Naopak.
</p>
<p>
  Hlavní složkou chorálního zpěvu je text.
  Především od něj se odvíjí správná interpretace: musí být dobře srozumitelný a
  znít pokud možno přirozeně.
  Tempo má zhruba odpovídat tempu mluvené řeči.
</p>
<p>
  Chorální zpěvy jsou "absolutní
  melodie" (bez vícehlasu, bez doprovodu), a proto jsou snadno
  transponovatelné.
  Zapsány jsou v poloze bez křížků a bé (případné jedno bé v předznamenání
  nebudiž čteno jako udání tóniny v moderním slova smyslu, ale jako bé v chorální
  notaci) a počítá se s tím, že při provedení
  budou ad hoc transponovány dle hlasových disposic zpěváků.
</p>

<h3 id="antifona">Antifona a žalm</h3>

<p>
  Každá antifona si - tóninou, ve které je složena, a začátkem
  melodie - říká o určitý nápěv žalmu, se kterým je zpívána.
  Nápěvy žalmů najdete v <a href="{url_for('downloads')}#psalmiviii">příslušném materiálu</a>.
  U antifony je vždy zkratka udávající modus a požadované zakončení
  žalmového verše, např. <b>I.D</b>, <b>III.b</b>, <b>VIII.G</b>.
</p>
<p>
  Chorální nápěvy žalmů mají charakter recitativu s melodicky
  ozvláštněnými závěry půlveršů. Tyto závěry nemají
  co do počtu slabik
  pevnou délku, ale jejich umístění a délka odvisí od slovního přízvuku
  závěrečných slov. Slabiky nesoucí tyto významné přízvuky jsou
  v textech, které jsem pro zpěv připravil
  (viz <a href="{url_for('downloads')}#antifonar">Antifonář k Denní modlitbě církve</a>),
  označeny podtržením nebo tučným řezem písma.
  V <a href="{url_for('downloads')}#psalmiviii">přehledu
  žalmových nápěvů</a>  jsou pak "přízvučné noty" označeny čárkou
  nad osnovou.
</p>
<p class="petit">
  Tip: s nalezením potřebného nápěvu a jeho správným nasazením
  na text žalmu pomůže web
  <a href="http://zalmy.inadiutorium.cz">zalmy.inadiutorium.cz</a>
</p>
<p>
  Žalmy obvykle zpívají dva chóry a střídají se po verších.
  Po polovině verše se udělá malá pauza (asi na delší nadechnutí;
  nebo, jak údajně bylo tradicí v pražských
  <a href="https://cs.wikipedia.org/wiki/Emauzsk%C3%BD_kl%C3%A1%C5%A1ter">Emauzích</a>,
  na tak dlouho, za jak dlouho by se vyslovil dvouslovný pozdrav <em>"Ave Maria"</em>),
  zato po konci verše se žádná pauza nedělá a druhý chór okamžitě
  začíná nový verš.
</p>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript" src="/js/sberacnadpisu.js"></script>
{/block}