<div id="cookie-form">
  <p>
    <label>
      <input type="checkbox" name="cookie-opt-in" id="cookie-opt-in" />
      Ano, prosím - chci mezi návštěvami stránky ukládat stav posledního rozbalení do cookie
    </label>
  </p>
</div>