{layout '../_layout.latte'}

{var $toplevel_class = 'download'}

{block page_title}Noty ke stažení{/block}

{block sidepane}
  {include 'sidepane.latte'}
{/block}

{block content}
{include 'pack_all.latte'}

{foreach $downloads as $section}
  {include 'section.latte', section => $section, heading_level => 2}
{/foreach}

{include 'pack_all.latte'}

{include 'cookie_form.latte'}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript" src="/libjs/quirksmodecookies.js"></script>
<script type="text/javascript" src="/js/rozbalovani_rozbalovaci.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    inicialisujRozbalovani();
    rozbalPodleCookies();
    skocNaKotvu(window.document.URL.toString());
  });
</script>
{/block}