{if $item->text}{$item->text|noescape}{/if}

{if $item->relatedPosts}
  <p>Související články:</p>
  <ul>
    <li n:foreach="$item->relatedPosts as $post">
      <a href="{$post->permalink()}">{$post->title}</a> ({$post->shortDate()})
    </li>
  </ul>
{/if}

<p class="tar">
  {if !$item->isExternal()}
  <a href="{$item->githubSourceURL()}">Zdroj na githubu</a> |
  {/if}
  <a href="{url_for('news')}?material={$item->id}">Přehled změn</a> |
  <a href="{$rss_url}" class="rssikonka"></a>
  <a href="{$rss_url}">RSS změn</a>
  {if !$item->isExternal()}
  | Počet stažení: {$download_count}
  {/if}

  {if $item->isExternal()}
  <p>Adresa externího zdroje: <a href="{$item->externalURL}">{$item->externalURL}</a>.</p>
  {/if}
</p>
