<div class="soubor" id="{$item->id}" data-href="{$detail_link($item->id)}">
  <span class="vpravo">
    {if $item->isExternal()}<span class="stitek" title="externí zdroj">EXT</span>{/if}
    {if $item->text}<span class="stitek" title="rozbal pro podrobnější popisek">T</span>{/if}

    {if !$item->isExternal()}<a href="{if $item->lastModified() < $last_onpage_news_time}{url_for('news')}{/if}#{$item->newsAnchor()}">{$item->lastModified()|date:'d.m.Y'}</a>{/if}

    <a href="{$detail_link($item->id)}" class="rozbalodkaz">rozbalit</a>
  </span>
  <span class="nazev">
    {include 'status.latte', status => $item->status}
    <a href="{if $is_crawler}/{$item->filePath()}{else}{$item->downloadLink()}{/if}">{$item->title}</a>
  </span>

  {if !$item->isExternal()}
    [{$item->fileSize()} kB]
  {/if}

  {if $item->description}
  <div class="popis">{$item->description}</div>
  {/if}

  <div class="obsah"></div>
</div>