<div class="sekce" id="sekce{$section->id}" data-href="">
  <div class="nadpis">
    <h{$heading_level}>
      <a href="#" class="rozbalodkaz">{$section->title} ({$section->itemCount})</a>
    </h{$heading_level}>
  </div>
  <div class="obsah">
    {if $section->description}
    <div class="popis">
      {$section->description|noescape}
    </div>
    {/if}

    {foreach $section->contents() as $c}
      {if is_a($c, 'InAdiutorium\Downloads\Section')}
        {include 'section.latte', section => $c, heading_level => ($heading_level + 1)}
      {elseif is_a($c, 'InAdiutorium\Downloads\Item')}
        {include 'item.latte', item => $c}
      {/if}
    {/foreach}
  </div>
</div>