{layout '../_layout.latte'}

{var $toplevel_class = 'download'}

{block page_title}Noty ke stažení{/block}

{block sidepane}
{/block}

{block content}
<div class="soubor">
<p class="petit">
  <a href="{url_for('downloads')}">Noty ke stažení</a>
  {foreach $parents as $p}
    &gt; {$p->nazev}
  {/foreach}
</p>

<h2>{$item->title}</h2>

<p>
  Stáhnout:
  <a href="{if $is_crawler}/{$item->filePath()}{else}{$item->downloadLink()}{/if}">{basename($item->filePath())}</a>
  {if !$item->isExternal()}
    [{$item->fileSize()} kB]
  {/if}
</p>

{include 'item_content.latte'}
</div>
{/block}