<div class="sloupek">
  <ul>
    <li><a href="http://zalmy.inadiutorium.cz" rel="external">NOVÉ: Žalmy se značkami pro zpěv</a></li>
    <li><a href="{url_for('download_comment')}">Komentář k notám</a></li>
    <li><a href="https://soundcloud.com/in-adiutorium" rel="external">Poslechnout ukázky</a></li>
    <li><a href="{url_for('downloads_attic')}">Staré harampádí</a></li>
    <li><a href="{url_for('news')}">Kompletní historie</a></li>
  </ul>
</div>
<div class="sloupek">
  <h5>Poslední aktualisace</h5>
  {foreach $news as $n}
  <p class="datum" id="{$n->anchor()}">
    ❋ <a href="{$n->permalink()}">{$n->date}</a>
    <a href="{$github_base_uri}{$n->github_path()}" class="petit">github</a>
  </p>
  <p>
    {$n->content|noescape}
  </p>
  {/foreach}
  <p class="datum">
    <a href="{url_for('news')}">starší aktualisace</a>
  </p>

  <h5>RSS</h5>
  <p>
    <a href="{$rss_url}" class="rssikonka" rel="alternate" type="application/rss+xml">&nbsp;</a>
    <a href="{$rss_url}" rel="alternate" type="application/rss+xml">Poslední aktualisace</a>
  </p>
</div>