{if array_key_exists($status, $status_letters)}
<span class="status {$status}" title="{$status_descriptions[$status]}">{$status_letters[$status]|noescape}</span>
{else}
<span class="status">&nbsp;</span>
{/if}