<?xml version="1.0" encoding="utf-8" ?>

<stahovani>
  <celkem>{$total}</celkem>
  <dnesCelkem>{$today_total}</dnesCelkem>
  <posledni>{$last_download_time}</posledni>
  <soubory>
    {foreach $recently_downloaded as $f}
    {$f}
    {/foreach}
  </soubory>
</stahovani>
