{layout '../_layout.latte'}

{block page_title}Četnost stahování{/block}

{block content}
<h3>Počet stažení {$day}</h3>

<table class="border">
<tr>
  <td>
    <a href="?razeni=soubor&amp;den={$date}">soubor</a>
  </td>
  <td>
    <a href="?razeni=celkem&amp;den={$date}">stažení celkem</a>
  </td>
  <td>
    <a href="?razeni=den&amp;den={$date}">stažení {$day}</a>
  </td>
</tr>

{foreach $entries as $entry}
<tr{if $entry->obsolete} style="background-color: grey;"{/if}>
  <td>{$entry->file}</td>
  <td>{$entry->downloads_total}</td>
  <td>{$entry->downloads_day}</td>
</tr>
{/foreach}

<tr>
  <td>CELKEM:</td>
  <td>{$total}</td>
  <td>{$today_total}</td>
</tr>
</table>

<p>Poslední stažení: {date('r', $last_download_time)}</p>

<p>
  Stažení za posledních {count($summaries)} dní:<br/>
  {foreach $summaries as $d => $count}
    {var sdate = date('Y-m-d', $d)}
    {if $sdate == $date}
      <strong>{$d|date:'d.m.'} ({$count}),</strong>
    {else}
      <a href="?den={$sdate}">{$d|date:'d.m.'}</a> ({$count}),
    {/if}
  {/foreach}
</p>
<p>
  (Šedě jsou označeny soubory, které už nelze normálně stáhnout.)
</p>
{/block}
