{layout '../_layout.latte'}

{var $toplevel_class = 'index'}

{block title}{$site_title_full}{/block}
{block page_title}{$site_title}{/block}

{block sidepane}
<div class="sloupek">
  <p>
    Projekt <b>In&nbsp;adiutorium</b> nabízí kompletní zhudebnění
    Denní modlitby církve.
    Vzdálenějším cílem je sestavení a vydání českého antifonáře.
  </p>
  <p>
    Zároveň jsou tu shromažďovány informace
    o&nbsp;všech dalších existujících hudebninách k denní modlitbě církve
    se vážících.
  </p>
</div>
<div class="sloupek">
  <p class="citat">
    "Protože se může denní modlitba církve konat národním
    jazykem, musí se pečlivě dbát, aby se připravily melodie,
    jichž by se užívalo při zpěvu posvátného oficia národním jazykem."<br/>
    (<a href="https://bible-a-liturgie.webnode.cz/_files/200000002-a41d3a5130/1971-IGLH-CZ.pdf#page=38">VPDMC 275</a>)
  </p>
</div>
{/block}

{block content}
{if $events}
<div class="idxbox">
  <div><h2>Aktuálně</h2></div>
  <div class="idxodkaz">
  {foreach $events as $a}
    <p>
      {$a->datum}
      {if $a->url}
        <a href="{$a->url}">{$a->nazev}</a>
      {else}
        <b>{$a->nazev}</b>
      {/if}
      ({$a->misto})
    </p>
  {/foreach}
  <p style="font-size: smaller;">
    Akce, na které zde odkazujeme, nepořádáme, pouze je považujeme za hodné doporučení jako příležitosti zažít zpívanou liturgii hodin.
    Pro pravidelné akce viz stránku <a href="{url_for('locations')}">Místa</a>.
  </p>
  </div>
</div>
{/if}

<div class="idxbox">
  <h2><a href="{url_for('downloads')}#{$season_id}">Noty pro {$season_name}</a></h2>
  {foreach $season_downloads as $item}
  <div class="soubor">
    <a href="{$item->downloadLink()}">{$item->title}</a>
    <span class="vpravo"><a href="{url_for('downloads')}#{$item->id}">více &gt;&gt;</a></span>
  </div>
  {/foreach}
  {if $season_id === false}
    <p class="petit"><em>
      Nepodařilo se získat data z liturgického kalendáře, takže si ctěný návštěvník
      noty pro aktuální liturgickou dobu dnes bude muset najít sám.
    </em></p>
  {/if}
</div>

<h2>Nové:</h2>

<div class="idxbox w50 fl">
  <h3><a href="{url_for('downloads')}">Noty</a></h3>
  Poslední aktualisace:<br/>
  <b>
    <a href="{$last_update->permalink()}">{$last_update->date}</a>
  </b>
  {if $days_since_last_update == 0}
    (dnes)
  {elseif $days_since_last_update == 1}
    (včera)
  {elseif $days_since_last_update > 15}
    {* to uz je davno - nepsat za datum zadnou poznamku *}
  {else}
    (před {$days_since_last_update} dny)
  {/if}
  <p>{$last_update->content|noescape}</p>

  {foreach $last_update_downloads as $item}
  <div class="soubor">
    <a href="{$item->downloadLink()}">{$item->title}</a>
    <span class="vpravo"><a href="{url_for('downloads')}#{$item->id}">více &gt;&gt;</a></span>
  </div>
  {/foreach}

  <div class="idxvice">
    <a href="{$news_rss_url}" class="rssikonka" rel="alternate" type="application/rss+xml">&nbsp;</a>
    <a href="{$news_rss_url}" rel="alternate" type="application/rss+xml">RSS kanál - Novinky</a>
  </div>
</div>

<div class="idxbox w50 fr">
  <h3><a href="{url_for('blog')}">Blog</a></h3>
  {foreach $blog_posts as $post}
    <div class="idxblogoclanek">
    <h4><a href="{url_for('blog')}#{$post->anchor()}">{$post->title}</a></h4>
    <span class="vpravo">{$post->datetime}</span>
    <p>{$post->summary}</p>
    </div>
  {/foreach}

  <div class="idxvice">
    <a href="{$blog_rss_url}" class="rssikonka" rel="alternate" type="application/rss+xml">&nbsp;</a>
    <a href="{$blog_rss_url}" rel="alternate" type="application/rss+xml">RSS kanál - Blog</a>
  </div>
</div>

<div class="clear"><!-- --></div>

<h2>Z dalšího obsahu webu:</h2>

<div class="idxbox w50 fl">
  <h3><a href="{url_for('links')}">Odkazy</a></h3>

  <div class="odkaz idxodkaz">
    <h4><a href="{$link->url}">{$link->nazev}</a></h4>
    {$link_text|noescape}
  </div>
</div>

<div class="idxbox w50 fr">
  <h3><a href="{url_for('books')}">Knihy</a></h3>

  <div class="kniha idxkniha">
    <h4>
      <a href="{url_for('books')}#{$book['symbol']}">
        {$book->biblio->nazev}
        {if $book->biblio->autor}({$book->biblio->autor}){/if}
      </a>
    </h4>
    {$book_text|noescape}
  </div>
</div>

<div class="clear"><!-- --></div>
{/block}