{layout '../_layout.latte'}

{block page_title}E-Antifonář{/block}

{block content}
<p>
  Na této adrese <a href="{url_for('blog')}?clanek=eantifonaroznameni.xml">od ledna 2014</a>
  do podzima 2021 běžela aplikace
  (<a href="https://github.com/igneus/eantifonar">zdrojový kód pro zájemce zde</a>)
  nabízející texty z webu <a href="http://breviar.cz/">breviar.cz</a>
  doplněné o <a href="{url_for('downloads')}">nápěvy antifon a responsorií</a>.
<p>
</p>
  Aplikaci jsem se rozhodl vypnout, protože měla dlouhodobě nevyřešený
  právní status (neoprávněné zveřejňování cizího obsahu),
  její technické řešení bylo značně nezodpovědné z hlediska bezpečnosti
  a nebavilo mě investovat energii do řešení uvedených otázek
  a její další údržby.
  Do budoucna plánuji jako náhradu za ni
  <a href="https://github.com/igneus/eantifonar2">rozšíření do prohlížečů</a>,
  které poskytne stejnou funkcionalitu bez výše uvedených problémů,
  za cenu určitého nepohodlí pro uživatele, spočívajícího v nutnosti
  instalace.
</p>
{/block}
