/* styl blogoveho clanku pokud je zobrazen xml soubor naprimo,
 ne pres standardni rozhrani */
html {
  font-family: Liberation Serif, Times New Roman, serif;
  font-size: 12pt;
}
body {
  width: 800px;
  margin: 20px auto 20px auto;
}
#header {
  margin-bottom: 50px;
  padding: 10px 0;
  border-bottom: solid black 1px;
}
#header b {
  display: inline-block;
  width: 150px;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  border-top: dotted grey 1px;
  padding: 10px 0;
}
#content blockquote {
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 5px 15px;
}
