// font Domine
@import (css) url(http://fonts.googleapis.com/css?family=Domine:400,700&subset=latin,latin-ext);

/*
 * general styles
 */

@hColor: #000;

h1, h2, h3, h4, h5 { color: @hColor; }
h1 {
    font-size: 4em; margin: 0.9em 0 0.4em 0; white-space: nowrap;
    span { display: block; font-size: 40%; text-indent: 2em; }
}
h2 {
    font-size: 1.75em;
    border-left: 1.2em solid @hColor; padding: 0 0 0 0.5em;
    margin-top: 2em;
}
h3 { font-size: 1.6em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }

html, body {
    font-family: 'Domine', Liberation Serif, serif;
    font-size: 1em;
}

a {
    text-decoration: underline;
    &, &:link { color: black; }
    &:visited { color: grey; }
    &:active { color: #ccf; }
    &:hover { text-decoration: none; }
}

h1, h2, h3, h4, h5 {
	a {
		text-decoration: none;
		&:link, &:active, &:visited, &:hover { color: @hColor; }
		&:hover { text-decoration: underline; }
	}
}

pre, blockquote { border: 1px dotted grey; padding: 0.5em 1em; margin: 0.5em; }
p { line-height: 1.3em; }

dt { font-weight: bold; }
dd { margin: 0 0 0.4em 1em; }

td {
    p:first-child { margin-top: 0; }
    p:last-child { margin-bottom: 0; }
}

.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.citat { font-style: italic; font-size: 90%; }
.petit { font-size: 90%; }
.hidden { display: none; }
.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center; }
.sc { font-variant: small-caps; }

table.border {
    border-collapse: collapse;
    td, th { border: 1px solid black; }
}

.rssikonka {
    display: inline-block;
    width: 1.2em; height: 1em;
    background-image: url(/grafika/fi-rss.svg);
    background-size: contain;
    background-position: center;
    text-decoration: none;
}

/*
 * layout
 */

@sidepaneWidth: 14em;
@sidepaneSpace: 3em;
@contentWidth: 40em;

@useMobileTo: 640px;
@useDesktopFrom: (@useMobileTo + 1px);

@media all and (min-width: @useDesktopFrom) {
    #wrapper {
        // fundamental layout stuff
        width: (@sidepaneWidth + @sidepaneSpace + @contentWidth);
        margin: 0 auto 0 auto;

        #header, #navigation, #footer { margin-left: (@sidepaneWidth + @sidepaneSpace);}
        #navigation { margin-bottom: 1em; }
        #content { width: @contentWidth; float: right; position: relative; }
        #sidepane {
            width: @sidepaneWidth; float: left;
            padding-right: 0.7em;
        }
        #footer { clear: both; padding-top: 5em; text-align: center; font-size: small; }
    }
}

/*
 * mobile layout
 */

@media all and (max-width: @useMobileTo) {
    #wrapper { width: 100%; }
    #content { clear: both; }
    #sidepane, #footer { display: none; }
    img { max-width: 100% !important; }

    h1 { font-size: 2em; margin-bottom: 1em; }
}

/*
 * common parts
 */
#langs { float: right; font-size: small; }

#sidepane {
    border-right: 1px solid black;

    ul {
        &, & li { list-style: none; padding-left: 0; }
        li { margin-bottom: 0.7em; }
    }

    .sloupek { margin-bottom: 2em; }

    .datum { font-size: 90%; white-space: nowrap; }
}

#navigation {
    ul {
        &, & li { list-style: none; padding-left: 0; }
        li { display: inline-block; margin: 0 0.15em; }
    }
}
@media all and (max-width: @useMobileTo) {
    #navigation ul li {
        margin-bottom: 2em;
        a, a:visited {
            padding: 0.75em;
            background-color: #000; color: #fff;
        }
    }
}

#footer {
    a { display: inline-block; margin: 0 0.15em; }
}

ul.bibliography {
    list-style: none; padding-left: 0;

    li { margin-bottom: 0.7em; }
}

@media all and (max-width: @useMobileTo) {
    iframe { max-width: 100% !important; }
}

.pager {
    margin-top: 2em;

    li {
        list-style: none;
        display: inline-block;
        margin: 0 0.1em;
    }
}

#content {
    ul {
        li { margin-bottom: 0.3em; }
    }
}

/*
 * homepage
 */
#content.index {
    .idxbox {
        position: relative;
	      &.w50 {
		        width: 46%;
	      }
    }

    .soubor { margin: 0.7em 0; }
}
@media all and (max-width: @useMobileTo) {
    #content.index {
        .idxbox {
            &.w50 { width: inherit; }
            &.fl, &.fr { float: none; }
        }
    }
}

/*
 * page 'Noty ke stazeni'
 */
.download {
    .vsebalitka { text-align: right; }

    .skryte { display: none; }

    .nadpis {
        .vpravo { float: right; }
    }

    .sekce {

    }

    .sekce .sekce {
        margin-left: 1em;
    }

    .soubor {
        position: relative;
        margin: 1em 0;

        .nazev { font-weight: bold; }
        .status { display: inline-block; margin-right: 1em; }
        .vpravo { display: block; float: right; }
        .rozbalodkaz { display: inline-block; margin-left: 1em; }

        .obsah {
            clear: both; margin-top: 0.7em;
            &.rozbalena { margin-bottom: 1.5em; border-bottom: 1px solid @hColor; }
        }
        .stitek { display: inline-block; font-size: small; border: 1px solid black; padding: 0 2px; }
    }

    @statusR: 9px;
    .status {
        display: inline-block; border: 1px solid @hColor;
        width: (@statusR * 2); height: (@statusR * 2); //border-radius: @statusR;
        text-align: center;
        margin: 0 2px 3px 0;
    }

    .soubor:hover, #status_napoveda:hover {
        .status {
            background-color: @hColor;

            &.omega { background-color: #ccf; }
            &.alfa { background-color: #cfc; }
            &.beta { background-color: #ff9; }
            &.gamma { background-color: #fc9; }
            &.delta { background-color: #f66; }
        }
    }
}

/*
 * page 'Mista'
 */
#mapa { width: @contentWidth; height: 400px; }

.mistolh {
    .upresneni { margin: 0; }
    span.polozka { display: inline-block; width: 4.5em; text-align: right; margin-right: 1em; font-size: 90%; }
}

/*
 * pages 'Knihy', 'Odkazy', ('Mista')
 */
.kniha, .odkaz, .mistolh {
    margin: 2em 0;
    h3 { font-size: 1.2em; margin-bottom: 0.3em; }
}

.kniha, .odkaz {
    p.citace { .petit; margin-top: 0; }
}

.kniha {
    .odkazy {
        .petit;
        span { display: inline-block; margin-right: 1em; }
    }
}

.odkaz {
    img.odkazikonka { float: right; margin: 0 0 0 1em; max-width: 120px; border: 1px solid grey; }
}

/*
 * page 'Blog'
 */
#content.blog {
    .post {
        .post-header { margin-bottom: 1.2em; }
        .post-footer { margin-top: 1.2em; font-size: small; }

        .obrazek { text-indent: 0; font-size: small; }

        .vlevo { float: left; margin: 1em 1em 1em 0; }
        .vpravo { float: right; margin: 1em 0 1em 1em; }

        .edit {
            border-left: 1px solid black; padding-left: 1px;
            font-size: 90%;
        }

        table { border-collapse: collapse; }
        table td {
            border: 1px solid black;
            vertical-align: top;
            padding: 5px 10px;
        }

        img { max-width: 100%; }
    }

    .post.summary {
        margin: 0.3em 0;

        h3 {
            display: inline-block; margin: 0 1.1em 0 0;
            font-size: 1em; font-weight: normal;
        }
        .post-header {
            font-size: 0.9em;
            &, & p { display: inline; }
        }
    }
}

/*
 * page 'Prehled zmen'
 */
table.history {
    td { vertical-align: top; padding: 10px; }
}
