@import url(http://fonts.googleapis.com/css?family=Domine:400,700&subset=latin,latin-ext);
/*
 * general styles
 */
h1,
h2,
h3,
h4,
h5 {
  color: #000;
}
h1 {
  font-size: 4em;
  margin: 0.9em 0 0.4em 0;
  white-space: nowrap;
}
h1 span {
  display: block;
  font-size: 40%;
  text-indent: 2em;
}
h2 {
  font-size: 1.75em;
  border-left: 1.2em solid #000;
  padding: 0 0 0 0.5em;
  margin-top: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
html,
body {
  font-family: 'Domine', Liberation Serif, serif;
  font-size: 1em;
}
a {
  text-decoration: underline;
}
a,
a:link {
  color: black;
}
a:visited {
  color: grey;
}
a:active {
  color: #ccf;
}
a:hover {
  text-decoration: none;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  text-decoration: none;
}
h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
  color: #000;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
  text-decoration: underline;
}
pre,
blockquote {
  border: 1px dotted grey;
  padding: 0.5em 1em;
  margin: 0.5em;
}
p {
  line-height: 1.3em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 0.4em 1em;
}
td p:first-child {
  margin-top: 0;
}
td p:last-child {
  margin-bottom: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
.citat {
  font-style: italic;
  font-size: 90%;
}
.petit {
  font-size: 90%;
}
.hidden {
  display: none;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.tac {
  text-align: center;
}
.sc {
  font-variant: small-caps;
}
table.border {
  border-collapse: collapse;
}
table.border td,
table.border th {
  border: 1px solid black;
}
.rssikonka {
  display: inline-block;
  width: 1.2em;
  height: 1em;
  background-image: url(/grafika/fi-rss.svg);
  background-size: contain;
  background-position: center;
  text-decoration: none;
}
/*
 * layout
 */
@media all and (min-width: 641px) {
  #wrapper {
    width: 57em;
    margin: 0 auto 0 auto;
  }
  #wrapper #header,
  #wrapper #navigation,
  #wrapper #footer {
    margin-left: 17em;
  }
  #wrapper #navigation {
    margin-bottom: 1em;
  }
  #wrapper #content {
    width: 40em;
    float: right;
    position: relative;
  }
  #wrapper #sidepane {
    width: 14em;
    float: left;
    padding-right: 0.7em;
  }
  #wrapper #footer {
    clear: both;
    padding-top: 5em;
    text-align: center;
    font-size: small;
  }
}
/*
 * mobile layout
 */
@media all and (max-width: 640px) {
  #wrapper {
    width: 100%;
  }
  #content {
    clear: both;
  }
  #sidepane,
  #footer {
    display: none;
  }
  img {
    max-width: 100% !important;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
}
/*
 * common parts
 */
#langs {
  float: right;
  font-size: small;
}
#sidepane {
  border-right: 1px solid black;
}
#sidepane ul,
#sidepane ul li {
  list-style: none;
  padding-left: 0;
}
#sidepane ul li {
  margin-bottom: 0.7em;
}
#sidepane .sloupek {
  margin-bottom: 2em;
}
#sidepane .datum {
  font-size: 90%;
  white-space: nowrap;
}
#navigation ul,
#navigation ul li {
  list-style: none;
  padding-left: 0;
}
#navigation ul li {
  display: inline-block;
  margin: 0 0.15em;
}
@media all and (max-width: 640px) {
  #navigation ul li {
    margin-bottom: 2em;
  }
  #navigation ul li a,
  #navigation ul li a:visited {
    padding: 0.75em;
    background-color: #000;
    color: #fff;
  }
}
#footer a {
  display: inline-block;
  margin: 0 0.15em;
}
ul.bibliography {
  list-style: none;
  padding-left: 0;
}
ul.bibliography li {
  margin-bottom: 0.7em;
}
@media all and (max-width: 640px) {
  iframe {
    max-width: 100% !important;
  }
}
.pager {
  margin-top: 2em;
}
.pager li {
  list-style: none;
  display: inline-block;
  margin: 0 0.1em;
}
#content ul li {
  margin-bottom: 0.3em;
}
/*
 * homepage
 */
#content.index .idxbox {
  position: relative;
}
#content.index .idxbox.w50 {
  width: 46%;
}
#content.index .soubor {
  margin: 0.7em 0;
}
@media all and (max-width: 640px) {
  #content.index .idxbox.w50 {
    width: inherit;
  }
  #content.index .idxbox.fl,
  #content.index .idxbox.fr {
    float: none;
  }
}
/*
 * page 'Noty ke stazeni'
 */
.download .vsebalitka {
  text-align: right;
}
.download .skryte {
  display: none;
}
.download .nadpis .vpravo {
  float: right;
}
.download .sekce .sekce {
  margin-left: 1em;
}
.download .soubor {
  position: relative;
  margin: 1em 0;
}
.download .soubor .nazev {
  font-weight: bold;
}
.download .soubor .status {
  display: inline-block;
  margin-right: 1em;
}
.download .soubor .vpravo {
  display: block;
  float: right;
}
.download .soubor .rozbalodkaz {
  display: inline-block;
  margin-left: 1em;
}
.download .soubor .obsah {
  clear: both;
  margin-top: 0.7em;
}
.download .soubor .obsah.rozbalena {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #000;
}
.download .soubor .stitek {
  display: inline-block;
  font-size: small;
  border: 1px solid black;
  padding: 0 2px;
}
.download .status {
  display: inline-block;
  border: 1px solid #000;
  width: 18px;
  height: 18px;
  text-align: center;
  margin: 0 2px 3px 0;
}
.download .soubor:hover .status,
.download #status_napoveda:hover .status {
  background-color: #000;
}
.download .soubor:hover .status.omega,
.download #status_napoveda:hover .status.omega {
  background-color: #ccf;
}
.download .soubor:hover .status.alfa,
.download #status_napoveda:hover .status.alfa {
  background-color: #cfc;
}
.download .soubor:hover .status.beta,
.download #status_napoveda:hover .status.beta {
  background-color: #ff9;
}
.download .soubor:hover .status.gamma,
.download #status_napoveda:hover .status.gamma {
  background-color: #fc9;
}
.download .soubor:hover .status.delta,
.download #status_napoveda:hover .status.delta {
  background-color: #f66;
}
/*
 * page 'Mista'
 */
#mapa {
  width: 40em;
  height: 400px;
}
.mistolh .upresneni {
  margin: 0;
}
.mistolh span.polozka {
  display: inline-block;
  width: 4.5em;
  text-align: right;
  margin-right: 1em;
  font-size: 90%;
}
/*
 * pages 'Knihy', 'Odkazy', ('Mista')
 */
.kniha,
.odkaz,
.mistolh {
  margin: 2em 0;
}
.kniha h3,
.odkaz h3,
.mistolh h3 {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}
.kniha p.citace,
.odkaz p.citace {
  font-size: 90%;
  margin-top: 0;
}
.kniha .odkazy {
  font-size: 90%;
}
.kniha .odkazy span {
  display: inline-block;
  margin-right: 1em;
}
.odkaz img.odkazikonka {
  float: right;
  margin: 0 0 0 1em;
  max-width: 120px;
  border: 1px solid grey;
}
/*
 * page 'Blog'
 */
#content.blog .post .post-header {
  margin-bottom: 1.2em;
}
#content.blog .post .post-footer {
  margin-top: 1.2em;
  font-size: small;
}
#content.blog .post .obrazek {
  text-indent: 0;
  font-size: small;
}
#content.blog .post .vlevo {
  float: left;
  margin: 1em 1em 1em 0;
}
#content.blog .post .vpravo {
  float: right;
  margin: 1em 0 1em 1em;
}
#content.blog .post .edit {
  border-left: 1px solid black;
  padding-left: 1px;
  font-size: 90%;
}
#content.blog .post table {
  border-collapse: collapse;
}
#content.blog .post table td {
  border: 1px solid black;
  vertical-align: top;
  padding: 5px 10px;
}
#content.blog .post img {
  max-width: 100%;
}
#content.blog .post.summary {
  margin: 0.3em 0;
}
#content.blog .post.summary h3 {
  display: inline-block;
  margin: 0 1.1em 0 0;
  font-size: 1em;
  font-weight: normal;
}
#content.blog .post.summary .post-header {
  font-size: 0.9em;
}
#content.blog .post.summary .post-header,
#content.blog .post.summary .post-header p {
  display: inline;
}
/*
 * page 'Prehled zmen'
 */
table.history td {
  vertical-align: top;
  padding: 10px;
}
