{layout '../_layout.latte'}

{block page_title}O webu{/block}

{block sidepane}
<div class="sloupek"></div>{* na automaticky sebranou navigaci *}
{/block}

{block content}
<h2 id="zkratka">Ve zkratce</h2>
<p>
  Projekt <em>In adiutorium</em> nabízí kompletní zhudebnění
  Denní modlitby církve.
  Vzdálenějším cílem je sestavení a vydání českého antifonáře
  v knižní podobě.
</p>

<h2 id="obsah">Obsah webu</h2>
<p>
  Web <em>In adiutorium</em> shromažďuje co možná kompletní informace
  o zhudebněních českých textů liturgie hodin:
</p>
<p>
  Vlastní tvorba na tomto poli je nabízena na stránce
  <a href="{url_for('downloads')}">Noty ke stažení</a>.
</p>
<p>
  <a href="{url_for('blog')}">Blog</a> jednak průběžně reflektuje práci
  na projektu, jednak zpracovává její širší kontext,
  mj. reflexí nad prožitými nebo na záznamu zhlédnutými slaveními,
  studiem dějinných souvislostí, výkladu a aplikace liturgických
  předpisů apod.
</p>
<p>
  Stránky <a href="{url_for('books')}">Knihy</a> a
  <a href="{url_for('links')}">Odkazy</a>
  jsou jakýmsi katalogem existujících zhudebnění od jiných autorů,
  zejména pro potřeby praktického využití v českých podmínkách.
  Zatímco výčet pramenů v českém jazyce vznáší nárok na úplnost,
  přehled cizojazyčných pramenů vesměs není nejen úplný,
  ale ani representativní.
</p>
<p>
  Stránka
  <a href="{url_for('locations')}">Místa</a>
  je jakýmsi adresářem míst, kde lze pravidelně zažít nějakou část
  liturgie hodin slavenou se zpěvem. V některých případech jde zároveň
  o místa, kde je chováno a užíváno nepublikované vlastní zhudebnění
  liturgických textů.
</p>
<p>
  Související obsah je dílem zveřejňován také na externích službách:
  <a href="https://twitter.com/inadiutorium">Twitter</a> hostí mikroblog,
  <a href="https://soundcloud.com/in-adiutorium">SoundCloud</a> nahrávky vybraných zpěvů.
  Na <a href="https://www.youtube.com/@jakubpavlik2961/playlists">YouTube</a> jsou do playlistů shromažďovány záznamy zpívaných hodinek z různých zdrojů.
</p>

<h2 id="pribeh">Motivace</h2>
<p>
  Výstavba římského oficia předpokládá zpěv. Plný smysl řady jeho strukturních
  prvků není zřejmý, pokud se nezpívá (srov. VPDMC 269). Jeho ideální podobou je slavení
  v latině s tradičními chorálními nápěvy. Při něm se střídají zpěvy jednoduché,
  recitativní (typicky žalmy) s propracovanějšími (hymny, antifony, responsoria).
</p>
<p>
  Současné liturgické předpisy počítají i se zpívanou liturgií hodin v národních
  jazycích (srov. VPDMC 275). V současné době, kdy je modlitba oficia
  značně rozšířená i mezi laiky, a drtivá většina nejen laiků, ale i kleriků a řeholníků
  se je modlí v národním jazyce, je velmi žádoucí mít možnost i v národním jazyce
  oficium slavit v jeho plném tvaru, se zpěvem.
  Pro zpěv v českém jazyce ale dosud existuje jen omezené
  množství pramenů, umožňující zpívat převážně jen nešpory nedělí
  a významnějších svátků.
  Projekt <em>In adiutorium</em> od r. 2010 usiluje tento nedostatek odstranit a připravit
  úplný český antifonář, umožňující Denní modlitbu církve kompletně zpívat:
  od invitatoria po mariánskou antifonu na konci kompletáře,
  365 dní v roce.
</p>

<h2 id="status">Status projektu</h2>
<p>
  Projekt <em>In adiutorium</em> je čistě soukromým počinem,
  není nijak napojen na katolickou hierarchii.
  Jeho výstupy nemají církevní schválení pro použití při liturgii.
  O takové schválení zatím nebylo žádáno, protože korpus zpěvů
  ještě nedosáhl kýžené kvality.
</p>

<h2 id="nazev">Název "In adiutorium"</h2>
<blockquote>
  ℣. Deus <em>in adiutórium</em> meum inténde.<br/>
  ℟. Dómine, ad adiuvándum me festína. Glória Patri. Sicut erat.
  Allelúia.
</blockquote>
<p>
  Název projektu je vzat z latinského znění úvodního verše,
  kterým se začínají hodinky.
  Nemá žádný zamýšlený hluboký význam. Šlo o to, najít krátký zajímavý
  název evokující liturgii hodin, přičemž jméno Boží mělo být ušetřeno
  "braní nadarmo".
</p>

<h2 id="zdroj">Licence a zdrojové kódy</h2>
<p>
  Většina zde zveřejněných not podléhá licenci
  <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.cs">Creative Commons Attribution-ShareAlike 3.0 Unported  (CC BY-SA 3.0)</a>.
  Tato licence doširoka otevírá možnosti díla mnoha cestami legálně šířit,
  upravovat a využívat jako součást nových děl:
</p>
<p>
  Kdokoli může takto licencovaná díla neomezeně sdílet a upravovat,
  a to pro jakýkoli účel - i komerční.
  Tato svoboda je podmíněna tím, že šiřitel/upravovatel uvede autora
  sdíleného či upraveného díla, rozsah případných provedených úprav,
  a sdílené či upravené dílo zveřejní pod stejnou licencí.
</p>
<p>
  Zdrojové kódy všech not (pro sazbu programem
  <a href="http://lilypond.org">LilyPond</a>)
  jsou na githubu v repozitáři
  <a href="https://github.com/igneus/In-adiutorium">igneus/In-adiutorium</a>.
  Každý si je odtud může stáhnout a upravit podle vlastní potřeby.
</p>
<p>
  Zdrojové kódy webových stránek byly zveřejněny výrazně později;
  dostupné jsou od léta 2016 na bitbucketu v repozitáři
  <a href="https://bitbucket.org/igneus_cz/in-adiutorium-web">igneus_cz/In-adiutorium-web</a>.
</p>

<h2 id="rss">Odběr novinek / RSS</h2>
<p>
  Novinky na webu <em>In adiutorium</em> můžete odebírat pomocí RSS čtečky z těchto kanálů:
</p>
<p>
  <a class="rssikonka" href="{url_for('news', array('_format' => 'rss'))}">&nbsp;</a>
  <a href="{url_for('news', array('_format' => 'rss'))}">Novinky</a>
  - přehled přírůstků a změn v notách ke stažení a informace o významných změnách v celku webu
</p>
<p>
  <a class="rssikonka" href="{url_for('blog', array('_format' => 'rss'))}">&nbsp;</a>
  <a href="{url_for('blog', array('_format' => 'rss'))}">Blog - články</a>
  - nové články na blogu
</p>
<!--
<p>
  <a class="rssikonka" href="http://intensedebate.com/allBlogCommentsRSS/247055">&nbsp;</a>
  <a href="http://intensedebate.com/allBlogCommentsRSS/247055">Blog - komentáře</a>
  - nové komentáře u všech článků
</p>
-->
<p>
  Kromě výše zmíněných souhrnných kanálů lze na webu najít odkazy na kanály dílčí:
  na blogu ve výpisu článků příslušných do určité
  <a href="{url_for('blog_categories')}">kategorie</a>
  nebo opatřených určitým
  <a href="{url_for('blog_tags')}">štítkem</a>
  je v levém sloupci dole odkaz
  na RSS kanál odpovídající podmnožiny článků;
  v detailu každého materiálu ke stažení pak je odkaz na kanál,
  jímž lze sledovat jen aktualisace toho kterého materiálu.
</p>
<p>
  Aktivitu v repozitáři se zdrojovými kódy je možné sledovat pomocí Atom feedů
  generovaných githubem. Nejužitečnější z nich je patrně feed obsahující
  <a href="https://github.com/igneus/In-adiutorium/commits/master.atom">nejnovější commity</a>.
</p>

<h2 id="podekovani">Poděkování</h2>
<p>
  Zvláštní poděkování dlužím řadě lidí, bez kterých by projekt
  <em>In adiutorium</em> buďto vůbec nemohl vzniknout, nebo by nemohl
  nabídnout všechno to, co nabízí:
</p>
<p>
  Děkuji všem, kteří se nezištně angažují ve vývoji svobodného
  softwaru, zejména tvůrcům
  notačního programu <a href="http://lilypond.org">LilyPond</a>,
  editoru <a href="http://www.frescobaldi.org">Frescobaldi</a>,
  sázecího systému <a href="http://www.tug.org/texlive/">LaTeX</a>,
  programovacího jazyka <a href="http://www.ruby-lang.org">Ruby</a>,
  systému správy verzí <a href="http://git-scm.com/">git</a> -
  aplikací, na kterých projekt <em>In adiutorium</em> dalekosáhle závisí.
</p>
<p>
  Dr. Willi Türkovi děkuji za to, že mi začátkem roku 2011 poskytl seznam
  všech toho času dostupných publikací se zhudebněními českých textů
  denní modlitby církve.
</p>
<p>
  Magdě děkuji za to, že mi s velkomyslností pro mě nepochopitelnou
  a nenapodobitelnou na celý zimní semestr 2010/11, kdy jsem byl
  bez vlastního funkčního počítače, půjčila svůj netbook.
  Všechny noty z té doby vznikaly na něm.
</p>
<p>
  Řeholním komunitám
  ve <a href="http://klasterslany.cz">Slaném</a>
  a v <a href="http://www.novydvur.cz">Novém Dvoře</a>
  jsem vděčný za své první zkušenosti se zpívanou liturgií hodin
  a nejen za ně.
</p>
<p>
  Liturgické komisi ČBK děkuji za svolení ke zveřejnění žaltáře.
</p>

<h2 id="autor">Autor</h2>
<img src="{$gravatar}" style="float: left; margin: 5px 15px 5px 5px" alt="{$owner_name}" />
<p>
  Jakub Pavlík. 1987 narozen v Kladně (Středočeský kraj),
  téhož roku křtem včleněn do katolické církve.
</p>
<p>
  2007-2014 studium teologie na KTF UK v Praze (ukončeno nezdárně),
  LS 2010/11 na Universität Erfurt v Německu.<br/>
  2014-2016 a 2017-2019 studium téhož oboru na TF JU
  v Českých Budějovicích.
  (<a href="https://theses.cz/id/c28n5q/">Bakalářka</a> o latinských liturgických překladech žalmů
  a <a href="https://theses.cz/id/6itpzp">diplomka</a> o předkoncilních českých překladech z breviáře
  mají s obsahem tohoto webu souvislost větší než malou.)
</p>
<p>
  V roce 2009/10 vstupoval a nevstoupil do trapistického kláštera
  Nový Dvůr.
  Od r. 2013 se živí jako <a href="http://igneus.github.io">vývojář softwaru</a>,
  převážně v oblasti webových aplikací.
  Projekt <em>In adiutorium</em> může být chápán jako jakási syntéza toho všeho.
</p>

<h2 id="kontakt">Kontakt</h2>
<p>
  e-mail: <a href="mailto:jkb.pavlik@gmail.com">jkb.pavlik@gmail.com</a>
</p>

<script type="text/javascript" src="/js/sberacnadpisu.js"></script>
{/block}
