{layout '../_layout.latte'}

{block page_title}English summary{/block}

{block sidepane}
<div class="sloupek"></div>{* na automaticky sebranou navigaci *}
{/block}

{block content}
<h2 id="shortdef">In a Few Words</h2>
<p><strong>In adiutorium - Liturgy of the Hours Music in Czech Language</strong></p>
<p>
  <em>In adiutorium</em> project attempts to provide musical settings
  necessary for fully chanted Liturgy of the Hours in the official
  Czech translation.
  Currently all antiphons and short responsories are set to music
  and revisions are in process.
  The ultimate goal is publishing a complete Czech antiphonal.
</p>

<h2 id="contents">Contents of the Website</h2>
<ul>
  <li><a href="{url_for('downloads')}">Noty ke stažení (Sheet music)</a></li>
  <li><a href="{url_for('blog')}">Blog</a> - blog with articles concerning the work
  on the project as well as Divine Office in general</li>
  <li><a href="{url_for('books')}">Knihy (Books)</a> - list of all books containing
  any piece of Divine Office chant in Czech language published since the
  liturgical reform.</li>
  <li><a href="{url_for('links')}">Odkazy (Links)</a> - links to websites containing
  some Divine Office chants, not only Czech, but also Latin, German, English, ...</li>
  <li><a href="{url_for('locations')}">Místa (Places)</a> - places in the Czech Republic,
  where chanted Liturgy of the Hours may be experienced</li>
</ul>
<p>
  This website is only available in Czech language, as its
  content is mostly language-specific and of little value
  for readers of other nationalities. In case of interest simply
  <a href="#contacts">contact me</a>
  and I will be happy to provide you any information you may need.
</p>

<h2 id="endwn">English Content</h2>
<p>
  Despite of what has been said above, there are a few tiny bits of content in English:
</p>
<ul>
  <li>
    plainchant setting of English
    <a href="/pocitacstazeni.php?soubor=materialy/compline.pdf">Compline psalm antiphons</a>
  </li>
  <li>
    <a href="/bibliography/">International Bibliography of LOTH Music</a>
    - attempt to collect a comprehensive list of LOTH musical settings published around the world
  </li>
</ul>
<p>
  You may also enjoy some of the author's other projects:
</p>
<ul>
  <li>
    <a href="http://antiphonale83.inadiutorium.cz">Antiphonale '83</a> - Latin antiphonal following the
    (now obsolete) 1983 <em>Ordo cantus officii</em>
  </li>
  <li><a href="http://cistchant.yakub.cz">Cistercian choir books index</a></li>
</ul>

<h2 id="background">Motivation</h2>
<p>
  Chant is an integral part of the Roman Divine Office.
  Purpose and meaning of many of its elements is not really obvious,
  unless chanted. Ideal form of the Divine Office is in Latin
  and with the traditional tunes of the Gregorian chant.
  Simple chants of recitative nature (first of all psalms) alternate
  with more ornate ones (hymns, antiphons, responsories),
  building together a beautiful harmonic whole.
</p>
<p>
  Current liturgical law also takes Liturgy of the Hours chanted in the
  vernacular in account (cf. IGLH 275).
  In present day praying the Liturgy of the Hours is not only
  widespread among laymen, but also most of the clergy and religious,
  who are obliged to persolve it, make use of the concession to pray it
  in the vernacular.
  It is thus most desirable to be able to celebrate the Liturgy
  of the Hours in its full form - with chant - also in the vernacular.
  Until recently, resources for chanted Liturgy of the Hours
  in Czech have been limited mostly to second Vespers of Sundays,
  solemnities and important feasts.
  Since 2010, <em>In adiutorium</em> project has been striving
  to create a complete Czech antiphonal, making a fully chanted
  Liturgy of the Hours possible, from Office of Readings to Compline,
  365 days a year.
</p>

<h2 id="status">Project Status</h2>
<p>
  <em>In adiutorium</em> is a non-official, personal project.
  It doesn't have any approval of the ecclesiastical authorities and it is questionable
  if it ever will, because of the obvious lack of artistic qualities.
</p>

<h2 id="license">Licenses and Sources</h2>
<p>
  The scores provided here are licensed by the
  <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported  (CC BY-SA 3.0)</a>
  license.
  (See the bottom of the last page of each sheet / booklet:
  there are a few pieces with a different license -
  mostly because I'm not their author.)
</p>
<p>
  Complete source codes of the music are at <a href="http://github.com/igneus/In-adiutorium">github</a>.
  Sources of the website are available at <a href="https://bitbucket.org/igneus_cz/in-adiutorium-web">bitbucket</a>.
</p>

<h2 id="autor">Author</h2>
<img src="{$gravatar}" style="float: left; margin: 5px 15px 5px 5px" alt="{$owner_name}" />
<p>
  Jakub Pavlík. 1987 born in Kladno, Czech Republic.
</p>
<p>
  2007-2014 studied Catholic theology at Charles University, Prague;<br/>
  2009/10 attempted to enter the <a href="http://www.novydvur.cz">Nový Dvůr</a> Trappist monastery (since 2011 abbey).<br/>
  Since 2013 works as software developer. The <em>In adiutorium</em> project
  may be regarded as a sort of synthesis of this all.
</p>

<h2 id="contacts">Contact</h2>
<p>
  e-mail: <a href="mailto:jkb.pavlik@gmail.com">jkb.pavlik@gmail.com</a> (English, German or Latin
  can safely be used for communication)
</p>

<script type="text/javascript" src="/js/sberacnadpisu.js"></script>
{/block}