{if $pages_total > 1}
<ul class="pager">
{if $current_page > 1}
  <li><a href="?strana={$current_page - 1}" rel="prev">novější</a></li>
{/if}

{for $i = 1; $i <= $pages_total; $i++}
  <li>
    {if $i == $current_page}
      <strong>{$i}</strong>
    {else}
      <a href="?strana={$i}">{$i}</a>
    {/if}
  </li>
{/for}

{if $current_page < $pages_total}
  <li><a href="?strana={$current_page + 1}" rel="next">starší</a></li>
{/if}
</ul>
{/if}
