{default $single_view = false}
{var $share_title = $post->title . " (" . $site_title . ")"}

{block content}
<div class="post" id="{$post->anchor()}">
  <h2 class="clanek">
    {if $single_view}
      {$post->title}
    {else}
      <a href="{$post->permalink()}" rel="bookmark">{$post->title}</a>
    {/if}
  </h2>

  <div class="post-header">
    <p>
      {$post->datetime} |
      kategorie: <a href="{$post->category->permalink()}">{$post->category->title}</a> |
      {if count($post->tags) > 0}
        štítky:
        <span class="petit" n:inner-foreach="$post->tags as $t">
          <a href="{url_for('blog_tag', array('slug' => ($t|slugify)))}" rel="tag">{$t}</a>
        </span>
        |
      {/if}
      <a href="{$post->permalink()}#komentare">Komentáře</a>
    </p>
  </div>

  {$post->content|noescape}

  <div class="post-footer">
    {if !$single_view}
    <a href="{$post->permalink()}#komentare">Komentáře</a> |
    {/if}

    Sdílet:
    <a href="https://www.facebook.com/sharer.php?u={$site_url . $post->permalink()|escapeurl}">facebook</a>
    <a href="https://twitter.com/intent/tweet?text={$share_title|escapeurl}&amp;url={$site_url . $post->permalink()|escapeurl}">twitter</a>
    <a href="http://sharetodiaspora.github.io/?title={$share_title|escapeurl}&amp;url={$site_url . $post->permalink()|escapeurl}">diaspora</a>
    <a href="https://www.signaly.cz/odjinud/sdilej?url={$site_url . $post->permalink()|escapeurl}">signály</a>

    | Citace:
    <a href="{url_for('blog_biblio', array('slug' => $post->slug, '_format' => 'bib'))}" rel="alternate" type="application/x-bibtex">BibTeX</a>
    <a href="{url_for('blog_biblio', array('slug' => $post->slug, '_format' => 'xml'))}" rel="alternate" type="application/docbook+xml">DocBook</a>
    <a href="#" class="toggle-biblio">ISO 690</a>

    <div class="biblio hidden">
      <p class="h-cite">
        <span class="p-author">{$owner_surname|upper}, {$owner_firstname}</span>.
        <em class="p-name">{$post->title}</em> [online].
        <span class="dt-published">{date('d. m. Y', $post->time)}</span> [<span class="dt-accessed">cit. {date('d. m. Y')}</span>].
        Dostupné z: <a href="{$site_url}{$post->permalink()}" class="u-url u-uid">{$site_url}{$post->permalink()}</a>.
      </p>
    </div>
  </div>
</div>
{/block}