{layout '../_layout.latte'}

{var $toplevel_class = 'blog'}

{block page_title}Blog - zkratky{/block}

{block sidepane}
  {include 'sidepane.latte'}
{/block}

{block content}
<dl>

<!--
<dt></dt>
<dd></dd>
-->

<dt>AAS</dt>
<dd><a href="https://www.vatican.va/archive/aas/index_en.htm">Acta Apostolicae Sedis</a></dd>

<dt>AR1912</dt>
<dd>Antiphonale Romanum 1912 (<em>Antiphonale sacrosanctae romanae ecclesiae pro diurnis horis</em>, Romae 1912; pdf ke stažení <a href="https://musicasacra.com/resource-lists/">na webu CMAA</a>, prohlížení online na <a href="https://archive.org/details/antiphonale00anonuoft">archive.org</a>) - oficiální vydání chorálních nápěvů pro denní hodinky po breviářové reformě Pia X.</dd>

<dt>BP1502</dt>
<dd><a href="https://books.google.cz/books?id=oRVkAAAAcAAJ">Breviarium Pragense 1502</a> (<em>Liber horarum canonicarum secundum veram rubricam Ecclesiae pragensis</em>, Norimberk: Stuchs 1502) - tištěné vydání předtridentského pražského breviáře</dd>

<dt>CMAA</dt>
<dd>Church Music Association of America</dd>

<dt>ČBK</dt>
<dd>Česká biskupská konference</dd>

<dt>ČEP</dt>
<dd><a href="http://biblenet.cz/">Český ekumenický překlad</a> (bible)</dd>

<dt>ČLP</dt>
<dd><a href="https://bible.liturgie.cz/">Český liturgický překlad</a> (bible)</dd>

<dt>KNA</dt>
<dd>Karmelitánské nakladatelství</dd>

<dt>LK ČBK</dt>
<dd>Liturgická komise České biskupské konference</dd>

<dt>MCM</dt>
<dd>Matice cyrilometodějská</dd>

<dt>SC</dt>
<dd><a href="https://www.vatican.va/archive/hist_councils/ii_vatican_council/documents/vat-ii_const_19631204_sacrosanctum-concilium_cs.html">Sacrosanctum concilium</a> - konstituce Druhého vatikánského koncilu o posvátné liturgii</dd>

<dt>VPDMC</dt>
<dd>
Všeobecné pokyny k Denní modlitbě církve
(pdf ke stažení na webu <a href="https://www.liturgie.cz/">liturgie.cz</a> po přihlášení;
oficiální vydání v prvním svazku čtyřsvazkového vydání breviáře;
otištěno též v publikaci <em>Dokumenty liturgické obnovy</em>, Olomouc: MCM 1994)
</dd>

<dt>VPŘM</dt>
<dd>Všeobecné pokyny k Římskému misálu</dd>

<dt>VÚDMC</dt>
<dd>chybná zkratka ve starších článcích; viz VPDMC</dd>

</dl>

<hr/>
<p>
  <strong>Rukopisy</strong> jsou obvykle citovány sigly podle standardu
  <a href="https://rism.info/community/sigla.html">RISM</a>
  (protože vypisování dlouhých názvů knihoven nemá nikdo rád).
</p>
{/block}
