{layout '../_layout.latte'}

{var $toplevel_class = 'blog'}

{block page_title}Blog - archiv{/block}

{block sidepane}
<div class="sloupek">
{foreach $years as $y}
  <p><a href="#{$y}">{$y}</a></p>
{/foreach}
</div>

<div class="sloupek">
  Články každého roku jsou členěny podle dílů předkoncilního breviáře:
  <em>zimní</em> zahrnuje dobu adventní, vánoční a mezidobí až do začátku doby postní;
  <em>jarní</em> dobu postní a velikonoční;
  <em>letní</em> dny do první neděle v září;
  <em>podzimní</em> od první zářijové neděle do začátku adventu.
</div>
{/block}

{block content}
{foreach $posts as $decorated_post}
  {var $post = $decorated_post['post']}
  {if array_key_exists('year', $decorated_post)}
    <h2 id="{$decorated_post['year']}">{$decorated_post['year']}</h2>
  {/if}
  {if array_key_exists('part', $decorated_post)}
    <h3 id="{date('Y', $post->time)}{$decorated_post['part'][0]}">{$decorated_post['part']} díl</h3>
  {/if}
  <p class="archivpolozka" id="{$post->anchor()}">
    {$post->datetime}
    <a href="{$post->permalink()}">{$post->title}</a>
    kategorie <a href="{$post->category->permalink()}">{$post->category->title}</a>
  </p>
{/foreach}
{/block}