<?xml version="1.0" encoding="utf-8" ?>

<bibliography xmlns="http://docbook.org/ns/docbook" version="5.0">
  <biblioentry>
    <title>{$post->title}</title>
    <author><personname>
      <firstname>{$owner_firstname}</firstname>
      <surname>{$owner_surname}</surname>
    </personname></author>
    <pubdate>{date('Y-m-d', $post->time)}</pubdate>
    <biblioid class="uri">{$site_url}{$post->permalink()}</biblioid>
  </biblioentry>
</bibliography>
