@online{ inadiutorium{date('Ymd', $post->time)},
  title={{$post->title}},
  author={{$owner_firstname} {$owner_surname}},
  url={{$site_url}{$post->permalink()}},
  urldate={{date('Y-m-d')}},
  date={{date('Y-m-d', $post->time)}}
}
