{layout '../_layout.latte'}

{var $toplevel_class = 'blog'}
{var $page_scripts = array('/libjs/slimbox2.js', '/js/blogutils.js')}

{block page_title}Blog - kategorie{/block}

{block sidepane}
  {include 'sidepane.latte'}
{/block}

{block content}
{foreach $categories as $cat}
<h2>
  <a href="{$cat->permalink()}">{$cat->title}</a>
</h2>
{if $cat->description}
<p>{$cat->description}</p>
{/if}
{/foreach}
{/block}
