{default $title_appendix = ''}
<?xml version="1.0" encoding="utf-8" ?>

<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
   <channel>
      <title>inadiutorium.cz - Blog{$title_appendix}</title>
      <link>{$site_url}{$web_url}</link>
      <description>Nejnovější příspěvky na blogu "In adiutorium"</description>
      <language>cs-cs</language>
      <pubDate>{date("r", $publication_time)}</pubDate>

      <lastBuildDate>{date("r", $publication_time)}</lastBuildDate>
      <docs>http://www.rssboard.org/rss-specification</docs>
      <generator>inadiutorium.cz blog engine</generator>
      <webMaster>{$owner_email} ({$owner_name})</webMaster>
      <atom:link href="{$site_url}{$rss_url}" rel="self" type="application/rss+xml" />

      {foreach $posts as $post}
      <item>
        <title>{$post->title}</title>
        <pubDate>{date("r", $post->time)}</pubDate>
        <category domain="{$site_url}{$post->category->permalink()}">{$post->category->title}</category>
        <description>{$post->summary}</description>
        <guid isPermaLink="true">{$site_url}{$post->permalink()}</guid>
        <link>{$site_url}{$post->permalink()}</link>
      </item>
      {/foreach}
   </channel>
</rss>
