{layout '../_layout.latte'}

{var $toplevel_class = 'blog'}

{block page_title}Blog - výběr{/block}

{block sidepane}
  {include 'sidepane.latte'}
{/block}

{block content}
<p>
  Na blogu přibývají články již několikátým rokem.
  Zatímco některé dávaly smysl snad jen samotnému autorovi
  a mnohé další byly ryze časové a dnes již nejsou aktuální,
  jsou tu i takové, které jsou stále aktuální
  a může být užitečné si je přečíst.
  Níže se nabízí tematicky roztříděný výběr některých
  z těch, které za takové považujeme.
</p>


{foreach $post_groups as $heading => $content}
  <h2>{$heading}</h2>
  {foreach $content as $p}
    <div class="post summary" id="{$p->anchor()}">
      <h3><a href="{$p->permalink()}">{$p->title}</a></h3>
      <div class="post-header">
        <p>
          {$p->shortDate()}
          <a href="{$p->category->permalink()}">{$p->category->title}</a>
        </p>
      </div>
    </div>
  {/foreach}
{/foreach}
{/block}