{contentType application/xhtml+xml}

{layout '../_layout.latte'}

{var $toplevel_class = 'blog'}
{var $page_scripts = array('/libjs/slimbox2.js', '/js/blogutils.js')}

{block page_title_head}{$post->title}{/block}
{block page_title_body}Blog{/block}

{block head_addons}
  <!--
  Dublin Core metadata encoded as DC-HTML
  http://dublincore.org/documents/2008/08/04/dc-html/
  -->
  <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
  <meta name="DC.title" content="{$post->title}" />
  <meta name="DC.creator" content="{$owner_firstname} {$owner_surname}" />
  <meta name="DC.date" content="{$post->time|date:'c'}" />
  <!-- / Dublin Core metadata -->
{/block}

{block sidepane}
  {include 'sidepane.latte'}
{/block}

{block content}
{include '_post.latte', post => $post, single_view => true}

<div id="komentare">
  <!-- intensedebate.com skript -->
  <script type="text/javascript">
    var idcomments_acct = '798dc8ba8401f6f52616a5349f69102f';
    var idcomments_post_id = {$post->file}; // interni identifikator prispevku
    var idcomments_post_url;
    var idcomments_post_title = {$post->title};
  </script>
  <span id="IDCommentsPostTitle" style="display:none"></span>
  <!-- <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script> -->
</div>
{/block}