{default $post = false}
{default $posts = false}
{default $category = false}
{default $tag_cloud = false}
<div class="sloupek">
<ul>
  <li><a href="{url_for('blog_selected')}">Vybrané články</a></li>
  <li><a href="{url_for('blog_archive')}" title="Všechny články ze všech kategorií rozdělené podle roku vydání.">Kompletní archiv</a></li>
  <li><a href="{url_for('blog_abbreviations')}">Seznam zkratek</a></li>
</ul>

{if $posts !== false}
<h5>
  {if $category}
    Kategorie "{$category->title}"
  {elseif $current_page > 1}
    Články ({$current_page}. strana)
  {else}
    Nejnovější
  {/if}
</h5>
<ul>
  {foreach $posts as $p}
  <li>
    <a href="#{$p->anchor()}">{$p->title}</a><br/>
    <span class="datum">{$p->shortDate()|noescape}</span>
  </li>
  {/foreach}
</ul>
{/if}

<h5><a href="{url_for('blog_categories')}">Kategorie</a></h5>
<ul>
  {foreach $categories as $cat}
  <li>
    <a href="{$cat->permalink()}">{$cat->title}</a>
  </li>
  {/foreach}
</ul>

{if $tag_cloud !== false}
  <h5><a href="{url_for('blog_tags')}">Štítky</a></h5>
  <p n:inner-foreach="$tag_cloud as $t" class="petit">
    <a href="{url_for('blog_tag', array('slug' => $t->slug))}" rel="tag">{$t->title}</a>{if $t->postsCount() > 3}&nbsp;({$t->postsCount()}){/if}
  </p>
{/if}

<h5>RSS</h5>
{foreach $page_rss as $name => $url}
<p>
  <a href="{$url}" class="rssikonka" rel="alternate" type="application/rss+xml">&nbsp;</a>
  <a href="{$url}" rel="alternate" type="application/rss+xml">{$name}</a>
</p>
{/foreach}
</div>