{layout '../_layout.latte'}

{var $toplevel_class = 'blog'}
{var $page_scripts = array('/libjs/slimbox2.js', '/js/blogutils.js')}

{block page_title_head}štítek {$tag->title}{/block}
{block page_title_body}Blog{/block}

{block sidepane}
  {include 'sidepane.latte'}
{/block}

{block content}
<p>štítek <strong>{$tag->title}:</strong></p>

{include '_list.latte', posts => $posts}
{/block}