{layout '../_layout.latte'}

{var $toplevel_class = 'blog'}
{var $page_scripts = array('/libjs/slimbox2.js', '/js/blogutils.js')}

{block page_title}Blog - štítky{/block}

{block sidepane}
  {include 'sidepane.latte'}
{/block}

{block content}
<ul>
{foreach $tags as $t}
  <li><a href="{url_for('blog_tag', array('slug' => $t->slug))}">{$t->title}</a> ({$t->postsCount()})</li>
{/foreach}
</ul>
{/block}
