{layout '../_layout.latte'}

{block page_title}Přehled změn na webu{/block}

{block content}
{if $title}
<h2>{$title}</h2>
{/if}

<table class="history">
  {var $mesic = ""}
  {foreach $news as $n}
    {var $nmesic = date("m/Y", $n->time)}
    {if $print_months && $nmesic !== $mesic}
      {var $mesic = $nmesic}
      <tr><td colspan="2"><h3>{$mesic}</h3></td></tr>
    {/if}
    <tr>
      <td id="{$n->anchor()}">
        <a href="{$n->permalink()}">{$n->date}</a>
        <a href="{$github_base_uri}{$n->github_path()}" class="petit">github</a>
      </td>
      <td>{$n->content|replace_local_links|noescape}</td>
    </tr>
  {/foreach}
</table>
{/block}