<?xml version="1.0" encoding="utf-8" ?>

<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
   <channel>
      <title>inadiutorium.cz - {if $title}změny materiálu "{$title}"{else}Novinky{/if}</title>
      <link>{$site_url}</link>
      <description>Novinky na webu {$site_url}</description>
      <language>cs-cs</language>
      <pubDate>{date("r", $publication_time)}</pubDate>

      <lastBuildDate>{date("r", $publication_time)}</lastBuildDate>
      <docs>http://www.rssboard.org/rss-specification</docs>
      <generator>{$site_url} RSS engine</generator>
      <webMaster>{$owner_email} ({$owner_name})</webMaster>
      <atom:link href="{$site_url . url_for('news', array('_format' => 'rss'))}" rel="self" type="application/rss+xml" />

      {foreach $news as $n}
      <item>
        <pubDate>{date("r", $n->time)}</pubDate>
        <guid isPermaLink="true">{$site_url . $n->permalink()}</guid>
        <description>
          {strip_tags($n->content)}
        </description>
      </item>
      {/foreach}
   </channel>
</rss>
