{layout '../_layout.latte'}

{block page_title}Přehled změn na webu{/block}

{block content}
<h2>{$item->date}</h2>
<p>
  {$item->content|replace_local_links|noescape}
</p>
<p>
  <a href="{$github_base_uri}{$item->github_path()}">github</a>
</p>

{if count($downloads) >= 1}
<p><strong>Dotčené noty:</strong></p>
{foreach $downloads as $dwn}
<div class="soubor">
  <a href="{$dwn->downloadLink()}">{$dwn->title}</a>
  <span class="vpravo"><a href="{url_for('downloads')}#{$dwn->id}">více &gt;&gt;</a></span>
</div>
{/foreach}

<p class="petit">
Notové materiály jsou na webu vždy jen v nejnovějším stavu,
jejich historické podoby se neuchovávají.
Pokud prohlížíte starší záznam, je možné, že některé
noty byly mezitím aktualisovány a jejich stav neodpovídá tomu,
ke kterému se záznam vztahuje.
</p>
<p class="petit">
Pokud prohlížíte opravdu starý záznam, je možné,
že některé materiály již ani nejsou v nabídce.
Ty ale pravděpodobně půjdou vyhrabat <a href="{url_for('downloads_attic')}">na půdě</a>.
</p>
{/if}
{/block}