body {counter-reset: section subsection;}

h2 {counter-reset: subsection;}
h2:before {content: counter(section) ". "; 
	   counter-increment: section;}
h3:before {content: counter(section) "." counter(subsection) ". "; 
	   counter-increment: subsection;}
h4.hora {text-decoration: underline;}

div.text {background-color: grey; padding: 5px;}
div div {margin-left: 70px; font-size: 90%;}